/* Desktop (≥ 1025px) */
@media (min-width: 1025px) {
    .inti {
        background-color: rgb(251, 255, 0);
        padding: 40px;
    }
}

/* Laptop (769px - 1024px) */
@media (max-width: 1024px) {
    .inti {
        background-color: rgb(9, 255, 50);
        padding: 40px;
    }
}

/* Tablet (481px - 768px) */
@media (max-width: 768px) {
    .inti {
        background-color: brown;
        padding: 40px;
    }
}

/* Mobile (≤ 480px) */
@media (max-width: 480px) {
    .inti {
        background-color: blue;
        padding: 40px;
    }
}